@import url(//fonts.googleapis.com/css?family=VT323);

html {
	height: 100%;
}
body{
    background-image: -webkit-gradient(linear, left top, left bottom, from(#262626), to(#0a0a0a));
    background-image: -webkit-linear-gradient(top, #262626, #0a0a0a);
    background-image:    -moz-linear-gradient(top, #262626, #0a0a0a);
    background-image:      -o-linear-gradient(top, #262626, #0a0a0a);
    background-image:         linear-gradient(to top, #262626, #0a0a0a);
    font-family: "VT323", sans; 
    color: #37CE1C; 
}
h1{
	font-size: 3em;
	padding: 0 0 2% 0;
}
h2{
	font-size: 2em;
}
h3{
	font-size: 1.5em;
}
:visited,:link{color:#282828;}

canvas {
	background: #34A90F;
}
#container{
	margin:auto;
	display:block;
	width: 100%;
	height: 100%;
}
#game{
	position: absolute;
	width: 90%;
	left: 5%;
	height: 90%;
	top: 5%;
}
#game_over{
	display: none;	
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 40%;
    margin: auto;
}
#game_over_inner{
	width: 70%;
	margin: auto;
	text-align: center;
	background: #83F55F;
	padding: 5%;
}
